@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');



/* Mobile First */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White:hsl(0, 0%, 100%);
  --mobile-max-width: 29rem;
  --desktop-max-width: 30rem;
  --mobile-horizontal-margin: 1rem;
}

body {
  font-size: 0.9735rem;
  font-family: "League Spartan",sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.white-text {
  color: var(--White);
}


.header {
  max-width: var(--mobile-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 4rem var(--mobile-horizontal-margin) 1.5rem var(--mobile-horizontal-margin);
}

.main-container {
  max-width: var(--mobile-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem var(--mobile-horizontal-margin) 1rem var(--mobile-horizontal-margin);
}

header h1 {
  color: var(--Very-Dark-Magenta);
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 1.3rem;
}

header p {
  color: var(--Dark-Grayish-Magenta);
  font-weight: 400;
}

.rating {
  list-style: none;
  width: 100%;
}

.each-rating {
  background: var(--Light-Grayish-Magenta);
  color: var(--Very-Dark-Magenta);
  text-align: center; 
  font-weight: 700;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.buyers {
  list-style: none;
  margin-top: 2.4rem;
}

.each-buyer {
  background: var(--Very-Dark-Magenta);
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.top-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1.5rem;
}

.top-wrap img {
  border-radius: 50%;
}

.name-wrap {
  padding-left: 2rem;
}

.name-wrap h2{
  font-weight: 700;
  font-size: 1rem;
}

.name-wrap span {
  display: block;
  font-weight: 400;
  color: var(--Soft-Pink);
  margin-top: 0.1rem;
}

/* footer */

.attribution {
  padding: 1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  color: var(--Very-Dark-Magenta);
}

a:focus-visible {
  outline: dotted 0.2rem var(--Very-Dark-Magenta);
  color: rgb(236, 16, 207);
}


@media screen and (min-width: 700px) {
  body {
    min-height: 100vh;
    padding: 0 3rem;
    /* display: none; */
  }
  
  .main-container {
    max-width: 80rem;
    margin: auto;
    padding: 3rem 4rem 4rem 4rem;
  }
  
  .header {
    max-width: 100%;
    /* display: flex; */
    flex-direction: row;
    text-align: left;
  }
  
  header h1 {
    padding: 0 2rem 0.5rem 0;
    margin-right: 3rem;
  }
  
  header p {
    margin-right: 8rem;
  }
  
  .rating {
    width: 100%;
    position: relative;
  }
  
  .each-rating{
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
  }
  
  .each-rating:first-child {
    margin: 0 4rem  1rem -4rem;
  }
  
  .each-rating:nth-child(2) {
    margin: 0 2rem  1rem -2rem;
  }
  
  .rating:first-child {
    margin-right: 1rem;
  }
  
  .stars {
    padding: 0 0.3rem 0 0;
  }
  .buyers {
    display: flex;
  }
  
  .each-buyer {
    margin-bottom: 0;
  }
  
  .each-buyer:nth-child(2) {
    margin: 1rem 1rem -1rem 1rem;
  }
  
  .each-buyer:nth-child(3) {
    margin: 2rem 0 -2rem 0;
  }
  
  .top-wrap {
    padding-bottom: 1.8rem;
  }
  
  .attribution {
    margin: 0;
    padding-top: 0;
  }
  
}
